.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.bunch{
    max-width: 1440px;
    margin: auto;
}
/* Header section styles */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 120px;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
nav ul li{
    /* margin-left: 20px; */
    list-style: none;
}

/* Banner section styles */
.banner{
    display: flex;
    margin-bottom: 120px;
}
.banner-left{
    flex: 1;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
}
#fresh{
    color: #E95A08;
}
.para-description{
    font-size: 1.37rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.banner-right{
    flex: 1;
    width: 570px;
    height: 355px;
}

/* Plant section styles */
.plant{
    margin-bottom: 210px;
    text-align: center;
}
.plant-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E95A08;
    font-weight: 600;
    border: none;
    width: 270px;
    padding: 10px 10px;
}
.flower-card-container{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.flower-card{
        width: 270px;
        height: 484px;
}
.flower-card p{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    line-height: 150%;
}
.flower-card h5{
    font-size: 1.375rem;
    font-weight: 700;
    color: #111111;
    line-height: 150%;
}


/* Plant Lover section styles */
.plant-lover{
    display: flex;
    gap: 62px;
    margin-bottom: 133px;
}
.lover-left{
    /* flex: 1; */
    height: 597px;
    width: 540px;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.badge{
    position: absolute;
    width: 286px;
    height: 286px;
    margin-top: -130px;
    margin-left: 340px;
    animation: spin 1.5s infinite linear;
}
.lover-right{
    /* flex: 1; */
    width: 540px;
    height: 521px;
    margin-top: 35px;
}
.lover-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}
.lover-right ul li{
    margin-left: 25px;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}


/* Latests Deals section styles */
.latest-deals{
    text-align: center;
    margin-bottom: 120px;
}
.deal-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
}
.latest-deals p{
    margin-bottom: 120px;
}
.three-flowers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bloom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../assets/deal-bloom.png");
    width: 367px;
    height: 201px;
    border-radius: 14px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blan-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
}
.zabo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../assets/deal-zabo.png");
    /* background-blend-mode: overlay; */
    grid-row: span 2;
    width: 753px;
    height: 423px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zabo-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
#shop{
    font-weight: 600;
    color: #FFFFFF;
}
#zabo{
    font-size: 1.75rem;
    font-weight: 600;
    color: #FFFFFF;
}
.ana{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../assets/deal-ana.png");
    width: 367px;
    height: 197px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Join section styles */
.join{
    background-image: url("../assets/news-letter-bg.png");
    height: 533px;
    margin-bottom: 50px;
    /* align-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.mail {
    display:flex;
    flex-direction:row;
    padding:10px;
    width: 830px;
    height: 70px;
}
input{
    padding: 20px;
    flex-grow:2;
    border:none;
}
button:hover{
    background-color: #c97a4c;
}
button {
    border:none;
    font-weight: 600;
    padding: 20px 40px;
    background: #E95A08;
    color: #FFFFFF;
}

/* Footer section styles */
.footer{
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: space-around;
}
.one p{
    margin-top: 16px;
    width: 359px;
    font-size: 1.325rem;
    color: rgba(0, 0, 0, 0.5);
}
ul li a{
    text-decoration: none;
}

.two ul li{
    margin-bottom: 32px;
    list-style: none;
}
.three ul li{
    margin-bottom: 32px;
    list-style: none;
}
.four img{
    margin-right: 24px;
}

/* Responsive for Mobile devices */

@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    #hide{
        display: none;
    }
    .header{
        justify-content: space-between;
        margin: 30px 20px;
        width: 530px;
        /* gap: 80px; */
    }
    .header div img{
        height: 45px;
        width: 65px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner img{
        max-width: 570px;
        margin-bottom: 40px;
    }
    .banner-left{
        width: 520px;
        margin: 20px 20px;
    }
    .banner-title{
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
    }

    .plant{
        width: 570px;
        text-align: center;
        gap: 20px;
        padding: 10px;
    }
    .flower-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* padding: 10px; */
    }

    .plant-lover{
        width: 570px;
        padding: 15px;
        flex-direction: column;
        margin-top: 20px;
    }


    .latest-deals{
        width: 570px;
        margin-top: 140px;
    }
    .latest-deals p{
        padding: 0 17px;
        margin-left: 10px;
        width: 535px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    img{
        width: 100%;
    }
    .latest-deals > sub-section > div{
        background-repeat: no-repeat;
        width: 520px;
        background-size:cover ;
        height: 260px;
    }
    .latest-deals > sub-section{
        padding: 25px;
        gap: 20px;
    }
    .bloom{
        margin-bottom: 20px;
        order: 1;
    }
    .zabo{
        margin-top: 20px;
        order: 3;
    }
    .ana{
        /* margin-top: 20px; */
        order: 2;
    }
    .three-flowers h4{
        width: 520px;
        font-size: 2.2rem;
    }
    .three-flowers a{
        width: 520px;
        font-size: 1.5rem;
    }
    .three-flowers{
        grid-template-columns: 1fr;
    }


    .join{
        width: 570px;
    }
    .join h2{
        font-size: 1.7rem;
    }
    .mail{
        margin-top: 23px;
        width: 480px;
    }
}